---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import GithubIcon from "../assets/githubIcon.svg";
import LinkedinIcon from "../assets/linkedinIcon.svg";
import avatar from "../assets/wuki.webp";
---

<Layout
  title="About me, Denys Rybalka"
  description="With my favourite dogosaurus Wuki"
>
  <div class="flex flex-col gap-8 sm:flex-row md:mx-8">
    <div class="mx-auto w-48 flex-none">
      <Image src={avatar} alt="Avatar" />
      <div class="flex flex-row justify-between p-4">
        <a
          href="https://github.com/drybalka"
          class="hover:text-zinc-500"
          aria-label="GitHub"
        >
          <GithubIcon />
        </a>
        <a
          href="https://linkedin.com/in/denys-rybalka-9511561bb/"
          class="hover:text-zinc-500"
          aria-label="LinkedIn"
        >
          <LinkedinIcon />
        </a>
      </div>
    </div>

    <p>
      Hello, I am a Ukrainian software developer based in Dresden with a PhD in
      theoretical physics. I like playing chess and board games, rooting for
      Liverpool football club, solving puzzles, configure my Helix code editor
      to perfection, finding simple and elegant solutions, and simply hacking
      around.
    </p>
  </div>
</Layout>
