---
import Layout from "../layouts/Layout.astro";
import BookTable from "../components/BookTable.astro";

import { getCollection } from "astro:content";
const books = await getCollection("books");
---

<Layout title="Bookshelf" description="Technical books that I have read">
  <div class="flex flex-col gap-8">
    <section>
      <BookTable
        title="Recommend"
        books={books.filter((book) => book.data.isRecommended)}
      />
    </section>

    <section>
      <BookTable
        title="Not worth it"
        books={books.filter((book) => !book.data.isRecommended)}
      />
    </section>
  </div>
</Layout>
