---
interface BookTableEntry {
  data: {
    title: string;
    href: string;
    review: string;
  };
}

interface Props {
  title: string;
  books: BookTableEntry[];
}

const { title, books } = Astro.props;
---

<div class="overflow-x-auto">
  <h2 class="mb-4 text-2xl font-semibold">{title}</h2>
  <table class="w-full min-w-[320px] table-auto">
    <thead class="border-b-2 border-zinc-800">
      <tr>
        <th class="px-4 py-2 text-left">Title</th>
        <th class="px-4 py-2 text-left">Review</th>
      </tr>
    </thead>
    <tbody>
      {
        books.map((book) => (
          <tr class="even:bg-zinc-950">
            <td class="px-4 py-2">
              <a
                href={book.data.href}
                class="inline-block font-bold underline-offset-3 hover:underline"
              >
                {book.data.title}
              </a>
            </td>
            <td class="px-4 py-2 text-zinc-400">{book.data.review}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
