---
import HeaderButton from "../components/HeaderButton.astro";
import "../styles/global.css";
import { Font } from "astro:assets";
import Logo from "../assets/logo.svg";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Font cssVariable="--font-title" preload />
    <Font cssVariable="--font-main" preload />
    <Font cssVariable="--font-mono" preload />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Denys Rybalka personal website</title>
    <slot name="head" />
  </head>
  <body class="mx-auto max-w-5xl bg-zinc-900 text-zinc-200">
    <header class="mb-4 flex justify-between">
      <a href="/" aria-label="home">
        <Logo
          class="aspect-square h-16 fill-zinc-500 p-4 hover:fill-zinc-400"
        />
      </a>
      <nav class="flex items-center">
        <HeaderButton href="/projects">projects</HeaderButton>
        <HeaderButton href="/bookshelf">bookshelf</HeaderButton>
        <HeaderButton href="/about">about</HeaderButton>
      </nav>
    </header>
    <main class="mx-4 mb-32 sm:mx-8">
      <h1 class="font-title mx-8 text-3xl sm:mx-16">{title}</h1>
      <p class="mx-8 mb-12 text-zinc-400 italic sm:mx-16">
        {description}
      </p>
      <slot />
    </main>
  </body>
</html>
